html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*//////////////////*/
/* Navbar edits CSS */
/*//////////////////*/

.navbar-default {
    background-color: #EBEBEA;
    border-color: #EBEBEA;
    min-height: 180px;
}

.navbar-default .navbar-nav > .active > a {
  color: #52B08E;
  background-color: #EBEBEA;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #52B08E;
  background-color: #EBEBEA;
}

.navbar-default .navbar-nav {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.navbar-default .navbar-nav > li {
  display: inline-block;
}
  
.navbar-default .navbar-nav > li > a {
   color: #40484A; /*active text color*/
   background-color: transparent;
   padding-top: 60px;
}

.navbar-collapse {
  padding-top: 50px;
  border-top: transparent;
  text-align: right;
}

.navbar-collapse .navbar-nav > li {
  padding-bottom: 5px;
  padding-left: 15px;
}

.navbar .nav-line {
    color: inherit;
    size: 6;
    padding-top: 40px;
}

/*/////////////*/
/* General CSS */
/*/////////////*/

body {
  width:100%;
  background-color: white;
  font-family: 'Cardo', serif;
  font-weight: 700;
  color: #40484A;
  padding: inherit;
}

.text h1 {
  font-size: 50px;
  color: #40484A;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 5px;
}
.text h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: white;
  padding-top:50px;
  padding-bottom: 60px;
}
.text h3 {
  font-size: 40px;
  font-weight: 300;
  color: #40484A;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}

.text h4 {
  font-size: 30px;
  font-weight: 700;
  color: #40484A;
  padding-bottom: 25px;
}

.text p {
  font-size: 16px;
  font-weight: 300;
  color: black;
  padding-bottom: 30px;
}


/*//////////////*/
/* Skills CSS */
/*//////////////*/

.skills .hr {
  height: 4px;
  color: #EBEBEA;
}

.skills .row .col-md-3 {
  text-align: center;
}

.skills .row .col-md-3 img {
  display:inline-block;
  margin:0 5px;
}

.skills li {
  list-style-type: none;
  text-decoration:none;
  /*border-radius: 100px;*/
}

.skills li:hover {
  background-color: #40484A; 
}

/*//////////////*/
/* Projects CSS */
/*//////////////*/

.intro {
  background-color: #40484A;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 55px;  
}

.projects .hr {
  height: 4px;
  color: #EBEBEA;
}

.projects h1 {
  font-size: 40px;
  font-weight: 700;
  color: #40484A;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 5px;
}
.projects h2 {
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  color: #40484A;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}

.projects h3 {
  font-size: 20px;
  font-weight: 300;
  color: #40484A;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: left;
}

.projects h4 {
  top: 20%;
  font-size: 20px;
  font-weight: 300;
  color: white;
}

.projects p {
  font-size: 20px;
  font-weight: 300;
  color: black;
}

#carousel-example {
  margin-top: 40px;
  margin-bottom: 40px;
} 

.carousel-inner .item > img {
  margin: 0 auto;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control {
  color: #53C7E3;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .7;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #53C7E3;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: 1;
}

.carousel-caption {
  max-width: 550px;
  top: 20px;
  position: absolute;
  padding: 0 20px;
  margin:0 auto;
  margin-top: 250px;
  text-align:center;
}

.projects .item {
  float: center; 
  margin-right: 10px; 
  margin-bottom: 10px; 
  color: #fff; 
  font-size: 60px; 
  text-align: center; 
  line-height: 230px; 
  cursor: default;
}

.topbar {
  background-color: #40484A;
  padding-top: 10px;
}

.topbar h1 {
  font-size: 70px;
  color: #40484A;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 5px;
}
#container {
  position: relative;
}

#filter {
  list-style-type: none;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 150px;
}

#filter li, #filter a {
  display: block;
  width: 100px;
  /*height: 100px;
  border-radius: 100px;*/
  background-color: #0000ff;
  vertical-align: middle;
  float: left;
}

#filter a { 
  background: white; 
  color: #40484A;
  text-align: center;
  /*border: 1px solid #666; */
  text-decoration: none; 
  vertical-align: middle;
  padding-top: 35px;
  padding-bottom: 20px;
}

#filter a.active {
  background: #40484A;
  color: white;
  text-decoration: underline;
}
 
#grid {
  clear: both; 
  position: relative;
}

.projectItems {
  margin-bottom: 100px;
  position: relative;
  /*padding-left: 150px;
  padding-right: 150px;*/
}

.projectItems .item {
  background-color: #40484A;
  width: 275px; 
  height: 250px; 
  display: inline-block;
  float: center; 
  margin-right: 10px; 
  margin-bottom: 10px; 
  font-size: 60px; 
  text-align: center; 
  line-height: 230px; 
  cursor: default;
}

.gallery-item img {
    width: 100%;
}

.gallery-item:hover .img-title {
    opacity: 1;
}

.img-title {
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    /*display: none; /* comment this out for CSS hover */
    /*background-color: #333;*/
    transition: all 0.5s ease;
}

.img-title h5 {
    position: absolute;
    color: #fff;
    /*top: 33%;*/
    top: -5%;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.img-title h6 {
    position: absolute;
    color: #fff;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.img-title h4 {
    position: absolute;
    color: #fff;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.projectItems .item .caption {
  /*background-color: black;*/
  width: 275px; 
  height: 40px; 
  position: absolute;
  top:100px;
  /*//opacity: 0;*/
}

.projectItems .item .caption span {
  /*background-color: black;*/
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
  height: 100%;
  top: -100px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.projectItems p {
  font-size: 20px;
  color: white;
  font-family: 'Cardo', serif;
}

.hover-text {
  color: white;
  visibility: hidden;
}
.hover-text:hover {
  visibility: visible;
}
.coding {
  /*background-color: #40484A;
  display: inline-block;*/
}
.modeling {
  /*background: #52B08E;
  display: inline-block;*/
}
.design {
  /*background: #E35388;
  display: inline-block;*/
}
.other {
  /*background: #53C7E3;
  display: inline-block;*/
}

.pager li a {
   color: #40484A;
}

.circular {
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

/*////////////////*/
/* Experience CSS */
/*////////////////*/

.experience .hr {
  height: 4px;
  color: #EBEBEA;
}

.experience h1 {
  font-size: 50px;
  color: #40484A;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 15px;
}

.experience h2{
  font-size: 40px;
  font-weight: 500;
  padding-top: 30px;
  padding-left: 50px;
}

.experience h3{
  font-size: 25px;
  font-weight: 200;
  padding-top: 10px;
  padding-left: 50px;
}

.experience p {
  font-family: 'Cardo', serif;
  padding-top: 20px;
  font-weight: 200;
  font-size: 20px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.experience img {
  padding-top: 50px;
}
/*////////////////*/
/* ABOUT ME CSS */
/*////////////////*/


/*.mywork {
  padding-top: 50px;
  padding-bottom: 75px;  
}

.mywork .row .col-md-3 {
  text-align: center;
}

.mywork .row .col-md-3 img {
  display:inline-block;
  margin:0 5px;
}*/

/*.learnMore {
  float:right; 
  padding-top: 70px;
  padding-right: 70px;
}*/

/*.aboutme {
  padding-bottom: 75px;  
}*/

.about {
  text-align: left;
  padding-bottom: 10px;
}

.about img {
  float: right;
}

/*.about .col-md-8 h2{
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: 700;
}*/
/*
.about .col-md-8 h3 {
  font-size: 30px;
  padding-bottom: 30px;
  font-weight: 500;
}*/

/*.about .col-md-8 p {
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: 300;
}*/

/*.my-circle {
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}*/


/*////////////*/
/* Footer CSS */
/*////////////*/

footer {
  background-color: #40484A;
  height:200px;
  margin-bottom: 0;
  padding-top: 50px;
}

footer p {
  color: white;
  font-size:15px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
